html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #161616;
    font-family: "Monument Extended", sans-serif;
    color: white;
}

.smooth-scroll-wrapper {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow: hidden;
}

body {
    margin: 800px auto;
}

.content {
    width: 70%;
    margin: 160px auto;
}

section {
    transition: transform 0.25s;
    will-change: transform;
}

h1 {
    font-size: 48px;
    font-weight: lighter;
    margin-bottom: 10px;
}

p {
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    line-height: 30px;
}

section img {
    width: 100%;
}

div {
    margin: 0 0 70px 0;
}
